.body{
    background-image: url('https://img.lovepik.com/photo/50101/9817.jpg_wh860.jpg');
    height: 100vh;
    width: 100vw;
    background-size: cover;
    background-position: center;
    position: absolute;
    background-repeat: no-repeat;
    opacity: 50%;
    filter: blur(3px);
    /* filter: drop-shadow(50%); */
    
}

.login_btns{
    display: flex;
    justify-content: space-around;
    /* margin-top: 12rem; */
    margin: 12rem 0 5rem 0;
}