.logo{
    height: 2.5rem;
    width: 3rem;
    /* padding-top: 0.5rem; */
}

.navBar{
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 5rem;
    background-color: rgb(175, 229, 250);
    position: static;
    
}
.navLeft{
    display: flex;
}
.navLeft > span{
    font-size: 1.5rem;
    padding-top: 0.2rem;
    margin-left: 1rem;
    font-weight: 500;
}


